<!-- themes/lens/layout/_partial/head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= page.title ? page.title + ' | ' + config.title : config.title %></title>
<link rel="stylesheet" href="<%- url_for('css/style.css') %>">
<!-- 引入 Google Fonts (Open Sans 或 Roboto) -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">